@{
    Layout = null;
}

<div ng-controller="EquipmentCreateCtrl" ng-init="init()">
    <ol class="breadcrumb">
      <li><a href="#/home/init">Home</a></li>
      <li><a href="#/equipment/list">Equipamentos</a></li>
      <li class="active">Cadastro</li>
    </ol>

    <div  class="page-header">
        <h3>Cadastro de Equipamentos</h3>
        <h6>Os campos marcados com <em>*</em> são de preenchimento obrigatório</h6>
    </div>

    <div>
        <form role="form" ng-submit="save()">
          <div class="form-group" ng-show="form.Id">
            <label><em>*</em> Código</label>
            <input type="text" class="form-control small" maxlength="50" ng-model="form.Id" placeholder="Digite Nome do Equipamento" readonly>
          </div>
          <div class="form-group">
            <label><em>*</em> Nome</label>
            <input type="text" class="form-control" maxlength="50" ng-model="form.noEquipamento" placeholder="Digite Nome do Equipamento" required>
          </div>
          <div class="form-group">
            <label><em>*</em> Localidade</label>
            <select ng-model="form.localidade" class="form-control">
                <option value="">Selecione ...</option>
                <option ng-repeat="item in listLocations" value="{{ item.Id }}">{{ item.noNome }}</option>
            </select>
          </div>

          <div class="form-group" ng-show="form.Id">
            <label><em>*</em> Ult. Atualização</label>
            <input type="text" class="form-control small" maxlength="50" readonly="true" ng-model="form.dtAtualizacao" ng-required="form.Id" placeholder="Digite a data de atualização">
          </div>
              
         <div class="modal-footer">
            <a href="#/equipment/list" class="btn btn-default">Cancelar</a>
            <button type="submit" class="btn btn-primary" ng-disabled="enableForm()">Salvar</button>
         </div>
          
        </form>
</div>
