
@{
    ViewBag.Title = "INNOVIX - RFIX";
}


    <!-- Begin page content -->
    <div class="row panel" style="padding:10px;width:300px;margin: 0 auto;margin-top: 15%;">
        <ng-view id="j-content"></ng-view>
    </div> <!-- /container -->

    <div class="footer">
        <div class="container">
            <p class="text-muted">Todos os direitos reservados</p>
        </div>
    </div>
