<div ng-controller="LoginInitCtrl">
    <div style="padding-left: 20px;color: #334D6D"><strong><h3>RFix</h3></strong></div>
            <br>
    <div class="form-group input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="name" class="form-control" ng-model="formData.name" type="text" placeholder="CPF"/>
    </div>
    <div  class="form-group input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="name" class="form-control"  ng-model="formData.password" type="password"  placeholder="Senha"/>
    </div>
    <div style="float: right">
        <button type="button" class="btn btn-primary" ng-click="access()">Acessar</button>
    </div>
</div>




