@{
    Layout = null;
}

<div ng-controller="LocationCreateCtrl" ng-init="init()">
    <ol class="breadcrumb">
      <li><a href="#/home/init">Home</a></li>
      <li><a href="#/location/list">Localidade</a></li>
      <li class="active">Cadastro</li>
    </ol>

    <div  class="page-header">
        <h3>Cadastro de Localidade</h3>
        <h6>Os campos marcados com <em>*</em> são de preenchimento obrigatório</h6>
    </div>

    <div>
        <form role="form" ng-submit="save()">
          <div class="form-group" ng-show="form.Id">
            <label>Código</label>
            <input type="text" class="form-control small" readonly="true" maxlength="20" ng-model="form.Id">
          </div>

          <div class="form-group">
            <label><em>*</em> Nome
            </label>
            <input type="text" class="form-control" maxlength="50" ng-model="form.noNome" placeholder="Digite Nome da localidade" required>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Estado</label>
            <select class="form-control small" ng-model="form.noEstado" class="form-control">
                <option value="">Selecione ...</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AM">AM</option>
                <option value="AP">AP</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MG">MG</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="PR">PR</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="RS">RS</option>
                <option value="SC">SC</option>
                <option value="SE">SE</option>
                <option value="SP">SP</option>
                <option value="TO">TO</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Cidade</label>
            <input type="text" ng-model="form.noCidade" class="form-control"></input>
          </div>
      
          <div class="form-group">
            <label for="exampleInputEmail1">Responsável</label>
            <input type="text" class="form-control" maxlength="30" ng-model="form.noResponsavel" placeholder="Digite o nome do Responsável">
          </div>

          <div class="form-group">
            <label><em>*</em> Telefone</label>
            <input type="text" class="form-control small" phone maxlength="18" ng-model="form.noTelefone" placeholder="Digite o Telefone" required>
          </div>
          
         <div class="modal-footer">
            <a href="#/location/list" class="btn btn-default">Cancelar</a>
            <button type="submit" class="btn btn-primary" ng-disabled="enableForm()">Salvar</button>
         </div>
          
        </form>
</div>
