<div ng-controller="LocationCreateCtrl" ng-init="init()">
    <ol class="breadcrumb">
      <li><a href="#/home/init">Home</a></li>
      <li><a href="#/location/list">Localidade</a></li>
      <li class="active">Cadastro</li>
    </ol>

    <div  class="page-header">
        <h3>Cadastro de Localidade</h3>
        <h6>Os campos marcados com <em>*</em> são de preenchimento obrigatório</h6>
    </div>

    <div>
        <form role="form" ng-submit="save()">
          <div class="form-group">
            <label><em>*</em> Nome
            </label>
            <input type="text" class="form-control" maxlength="50" ng-model="form.noNome" placeholder="Digite Nome da localidade" required>
          </div>
          <div class="form-group">
            <label><em>*</em> Tipo</label>
            <select class="form-control medium" ng-model="form.TbPerfil.Id" required>
                <option value="">Selecione ...</option>
                <option ng-repeat="item in listProfile" value="{{ item.Id }}">{{ item.noDesc }}</option>
            </select>
          </div>
          <div class="form-group">
            <label><em>*</em> Telefone</label>
            <input type="text" class="form-control small" maxlength="18" ng-model="form.noTelefone" placeholder="Digite o Telefone" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Responsável</label>
            <input type="text" class="form-control" maxlength="30" ng-model="form.noResponsavel" placeholder="Digite o nome do Responsável">
          </div>
          <div class="form-group" >
            <label>Código</label>
            <input type="text" class="form-control small" maxlength="20" ng-model="form.noDesc">
          </div>
              
         <div class="modal-footer">
            <a href="#/location/list" class="btn btn-default">Cancelar</a>
            <button type="submit" class="btn btn-primary" ng-disabled="enableForm()">Salvar</button>
         </div>
          
        </form>
</div>
