<div ng-controller="ReportBoardingCtrl" ng-init="init()">
  <div>
        <div class="modal-header">
           <button  class="close"  ng-click="close()">&times;</button>
           <h3>Detalhamento Embarque</h3>
        </div>
        <div class="modal-body">
    <p>
        <button class="btn btn-primary"><span class="glyphicon glyphicon-print"></span> Exportar PDF</button>
        <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                <div>
                    <div class="painel-information-now">
                        <div class="painel-information">Embarque:</div><div class="painel-value">{{ objItem.embarque }}</div>
                    </div>
                    <div class="painel-information-now">
                        <div class="painel-information">Status:</div><div class="painel-value">{{ objItem.status }}</div>
                    </div>
                    <div class="painel-information-now">
                        <div class="painel-information">Origem:</div><div class="painel-value">{{ objItem.origin }}</div>
                    </div>
                    <div class="painel-information-now">
                        <div class="painel-information">Dt. Atualização:</div><div class="painel-value">{{ objItem.dtAtualizacao }}</div>
                    </div>
                    <div class="painel-information-now">
                        <div class="painel-information">Destino:</div><div class="painel-value">{{ objItem.destiny }}</div>
                    </div>
                    <div class="painel-information-now">
                        <div class="painel-information">Dt. Cadasstro:</div><div class="painel-value">{{ objItem.dtCadastro }}</div>
                    </div>
                    <div class="painel-information-now">
                        <div class="painel-information">Rota:</div><div class="painel-value">{{ objItem.route }}</div>
                    </div>
                    <div class="painel-information-now">
                        <div class="painel-information">Responsável:</div><div class="painel-value">{{ objItem.responsavel }}</div>
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div ng-show="list.length == 0" class="alert alert-warning" role="alert">
            <a href="#" class="alert-link"><span class="glyphicon glyphicon-warning-sign"></span> Não houve retorno de registros</a>
        </div>

        <div ng-show="list.length" class="panel panel-default">
            <div class="panel-heading">Itens</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-header">
                        <th>AWB</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Rota</th>
                        <th>Status</th>
                        <th>Ult. Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td>{{ item.awb }}</td>
                        <td>{{ item.origin }}</td>
                        <td>{{ item.destiny }}</td>
                        <td>{{ item.route }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.dtAtualizacao }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="table-footer">
                            <div class="pull-left">
                                <pagination  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                            </div>
                            <div class="pull-right table-count">
                                <h5>Total de registros <span class="label label-primary">{{ totalItems }}</span></h5>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div ng-show="listSeals.length" class="panel panel-default">
            <div class="panel-heading">Lacres</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-header">
                        <th>Código</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Rota</th>
                        <th>Status</th>
                        <th>Ult. Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listSeals">
                        <td>{{ item.awb }}</td>
                        <td>{{ item.origin }}</td>
                        <td>{{ item.destiny }}</td>
                        <td>{{ item.route }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.dtAtualizacao }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="table-footer">
                            <div class="pull-left">
                                <pagination  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="totalSeals" ng-model="currentPageSeals" max-size="maxSize" ng-change="pageChangedSeals()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                            </div>
                            <div class="pull-right table-count">
                                <h5>Total de registros <span class="label label-primary">{{ totalItems }}</span></h5>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="close()">Fechar</button>
        </div>
    </div>
    
    </div>


