<div ng-controller="ReportBoardingCtrl" ng-init="init()">
    <ol class="breadcrumb">
      <li><a href="#/home/init">Home</a></li>
      <li class="active">Relatorio de Embarques</li>
    </ol>

 <div  class="page-header">
    <h3>Embarque</h3>
    </div>
    <p>
        <div class="panel panel-default">
          <div class="panel-heading">Detalhamento do embarque</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <span><strong style="font-size:20px;">Embarque:</strong>{{ objItem.embarque }}</span>
                    </div>
                    <div class="form-group">
                        <span><strong>Origem:</strong> {{ objItem.origin }}</span>
                    </div>
                    <div class="form-group">
                        <span><strong>Destino:</strong> {{ objItem.destiny }}</span>
                    </div>
                    <div class="form-group">
                        <span><strong>Rota:</strong> {{ objItem.route }}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <span><strong>Status:</strong> {{ objItem.status }}</span>
                    </div>
                    <div class="form-group">
                        <span><strong>Dt. Atualização:</strong> {{ objItem.dtAtualizacao }}</span>
                    </div>
                     <div class="form-group">
                        <span><strong>Dt. Cadasstro:</strong> {{ objItem.dtCadastro }}</span>
                    </div>
                    <div class="form-group">
                        <span><strong>Responsável:</strong> {{ objItem.responsavel }}</span>
                    </div>
                </div>
              </div><!-- /.col-lg-6 -->
            </div>
          </div>
        </div>

        <div ng-show="list.length == 0" class="alert alert-warning" role="alert">
            <a href="#" class="alert-link"><span class="glyphicon glyphicon-warning-sign"></span> Não houve retorno de registros</a>
        </div>

        <div ng-show="list.length" class="panel panel-default">
            <div class="panel-heading">Itens</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-header">
                        <th>AWB</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Rota</th>
                        <th>Status</th>
                        <th>Ult. Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td>{{ item.awb }}</td>
                        <td>{{ item.origin }}</td>
                        <td>{{ item.destiny }}</td>
                        <td>{{ item.route }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.dtAtualizacao }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="table-footer">
                            <div class="pull-left">
                                <pagination  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                            </div>
                            <div class="pull-right table-count">
                                <h5>Total de registros <span class="label label-primary">{{ totalItems }}</span></h5>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div ng-show="listSeals.length" class="panel panel-default">
            <div class="panel-heading">Lacres</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-header">
                        <th>Código</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Rota</th>
                        <th>Status</th>
                        <th>Ult. Atualização</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listSeals">
                        <td>{{ item.awb }}</td>
                        <td>{{ item.origin }}</td>
                        <td>{{ item.destiny }}</td>
                        <td>{{ item.route }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.dtAtualizacao }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="table-footer">
                            <div class="pull-left">
                                <pagination  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="totalSeals" ng-model="currentPageSeals" max-size="maxSize" ng-change="pageChangedSeals()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                            </div>
                            <div class="pull-right table-count">
                                <h5>Total de registros <span class="label label-primary">{{ totalItems }}</span></h5>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="input-group-btn">
            <a href="#/report/boarding/list" class="btn btn-default"><span class="glyphicon glyphicon-back"></span> Voltar</a>
        </div>
       
    </p>
</div>




