<div ng-controller="ReportUserListCtrl" ng-init="init()">
    <ol class="breadcrumb">
      <li><a href="#/home/init">Home</a></li>
      <li class="active">Logs de Usuarios</li>
    </ol>

 <div  class="page-header">
    <h3>Logs</h3>
    </div>
    <p>
        <div class="panel panel-default">
          <div class="panel-heading">Pesquise logs cadastrados</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="search.dtAtualizacao" placeholder="Data de Ação">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="search.origin" placeholder="Nome/CPF">
                        </div>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="search(1)" type="button"><span class="glyphicon glyphicon-search"></span> Pesquisar</button>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="clear()" type="button"><span class="glyphicon glyphicon-trash"></span> Limpar</button>
                    </div>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </div>
          </div>
        </div>

        <div ng-show="list.length == 0" class="alert alert-warning" role="alert">
            <a href="#" class="alert-link"><span class="glyphicon glyphicon-warning-sign"></span> Não houve retorno de registros</a>
        </div>

        <div ng-show="list.length" class="panel panel-default">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-header">
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Equipamento</th>
                        <th>Ação</th>
                        <th>AWB</th>
                        <th>Local</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td>{{ item.nome }}</td>
                        <td>{{ item.nuCpf }}</td>
                        <td>{{ item.equipamento }}</td>
                        <td>{{ item.acao }}</td>
                        <td>{{ item.awb }}</td>
                        <td>{{ item.local }}</td>
                        <td>{{ item.data }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="table-footer">
                            <div class="pull-left">
                                <pagination  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                            </div>
                            <div class="pull-right table-count">
                                <h5>Total de registros <span class="label label-primary">{{ totalItems }}</span></h5>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
       
    </p>
</div>




