<div ng-controller="BoardingListCtrl">
 <div  class="page-header">
    <h1>Painel Principal</h1>
    </div>
    <p class="lead"> Você está conectado como <span class="label label-primary">Administrador</span> em <span class="label label-primary">Mário Eugênio</span></p>
    <p>Abaixo, um resumo dos embarques de hoje e seus status</p>
    <p>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Embarque</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Rota</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>XXXXXX</td>
                        <td>XXXXXX</td>
                        <td>XXXXXX</td>
                        <td>XXXXXX</td>
                        <td>XXXXXX</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="center">
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" ng-change="pageChanged()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
    </p>
</div>




