@{
    Layout = null;
}

<div ng-controller="BoardingListCtrl" ng-init="init()">
 <div  class="page-header">
    <h1>Painel Principal</h1>
    </div>
    <p class="lead"> Você está conectado como <span class="label label-primary">@ViewBag.role</span>&nbsp; em <span class="label label-primary">@User.Identity.Name</span></p>
    <p>Abaixo, um resumo dos embarques de hoje e seus status</p>
    <p>
        <div ng-show="list.length == 0" class="alert alert-warning" role="alert">
            <a href="#" class="alert-link"><span class="glyphicon glyphicon-warning-sign"></span> Não houve retorno de registros</a>
        </div>

        <div ng-show="list.length" class="panel panel-default">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="table-header">
                        <th>Embarque</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Ult. Localidade</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td>{{ item.noDesc }}</td>
                        <td>{{ item.origin }}</td>
                        <td>{{ item.destiny }}</td>
                        <td>{{ item.ultimaLocalidade }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="table-footer">
                            <div class="pull-left">
                                <pagination  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                            </div>
                            <div class="pull-right table-count">
                                <h5>Total de registros <span class="label label-primary">{{ totalItems }}</span></h5>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </p>
</div>




