
@{
    ViewBag.Title = "INNOVIX - RFIX";
}
      <!-- Static navbar -->
      <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RFIX</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/equipment/list">Equipamentos</a></li>
                <li><a href="#/location/list">Localidades</a></li>
                <li><a href="#/route/list">Rotas</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Acesso / Perfil</li>
                <li><a href="#/user/list">Usuários</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/report/item/list">Itens</a></li>
                <li><a href="#/report/seals/list">Lacres</a></li>
                <li><a href="#/report/boarding/list">Embarques</a></li>
                <li><a href="#/report/user/list">Logs de Usuário</a></li>
              </ul>
            </li>
          </ul>

            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> &nbsp;@ViewBag.userCurrent <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="~/login/Logoff">Logoff</a></li>
               
              </ul>
            </li>
               
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

      <!-- Main component for a primary marketing message or call to action -->
      


    <!-- Begin page content -->
    <div class="container panel">
        <ng-view id="j-content"></ng-view>
    </div> <!-- /container -->

    <div class="footer">
        <div class="container">
            <div class="col-lg-6">
                <p class="text-muted"><img src="~/Web/img/logo/innovix_logosquare.png" class="pull-rigth" style="width:5%;" /> INNOVIX - Todos os direitos reservados</p>
                
            </div>
            
        </div>
    </div>
