
 <div ng-controller="HomeInitCtrl" class="page-header">
    <h1>Painel Principal</h1>
    </div>
    <p class="lead"> Você está conectado como <span class="label label-info">Administrador</span> em <span class="label label-info">Mário Eugênio</span></p>
    <p>Abaixo, um resumo dos embarques de hoje e seus status</p>
</div>





